@using YeGods.ViewModels
@model YeGods.ViewModels.GlossaryPageViewModel

@{
  Layout = "_AdminLayout";
}

<h1>Manage Glossary Entries</h1>

<div class="search glossary-search">
  <form asp-area="Admin" asp-controller="Glossary" asp-action="Page">
    <input asp-for="Search.SearchTerm" class="form-control" type="text" placeholder="Search glossary entries" aria-label="search gloassary entries">
    <input type="submit" value="Filter Glossary Entries" class="btn btn-primary pull-right" />
    <a asp-area="Admin" asp-controller="Glossary" asp-action="Page" class="btn btn-danger pull-right">
      Clear Filter
    </a>
  </form>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Origin</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (GlossaryViewModel glossary in Model.Glossaries)
    {
      <tr>
        <td>@glossary.Name</td>
        <td>@glossary.Origin</td>
        <td>@glossary.Description</td>
        <td>
          <a asp-area="Admin" asp-controller="Glossary" asp-action="Edit" asp-route-id="@glossary.Id" class="btn btn-warning btn-sm">Edit</a>
          <a asp-area="Admin" asp-controller="Glossary" asp-action="Delete" asp-route-id="@glossary.Id" class="btn btn-danger btn-sm">Delete</a>
          <a asp-area="" asp-controller="Home" asp-action="Glossary" class="btn btn-primary btn-sm" asp-fragment="@glossary.Name">View</a>
        </td>
      </tr>
    }
    </tbody>
  </table>
  <cs-pager cs-paging-pagesize="10"
            cs-paging-pagenumber="@Model.Pagination.CurrentPage"
            cs-paging-totalitems="@Model.Pagination.TotalRecords"
            cs-pagenumber-param="page"
            asp-controller="Glossary"
            asp-action="Page"
            cs-pager-li-current-class="page-item active"
            cs-pager-li-other-class="page-item"
            cs-pager-li-non-active-class="page-item disabled"
            cs-pager-link-current-class="page-link"
            cs-pager-link-other-class="page-link"></cs-pager>
  <a asp-area="Admin" asp-controller="Glossary" asp-action="Create" class="btn btn-primary pull-right">
    Add New Glossary Entry
  </a>
</div>
